@{
  Layout = "_Layout";
}

@model Market.Models.Treat;

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
<h4>@Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price)</h4>
<br>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not contain any flavors.</p>
}
else
{
  <h4>Flavors the treat contains:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.Description</li>
  }
  </ul>
}
<hr />
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to Treat Menu", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
