@{
  Layout = "_Layout";
}

@using Market.Models;
@model List<Market.Models.Treat>;

<h1>Treats</h1>
<br>
<h4 style="color:grey;">In this section, you are able to see our Treats Menu and add a new treat to the Menu if you like.</h4>
<hr />

@if (@Model.Count == 0)
{
  <h3>No treats have been added to the Menu yet!</h3>
}

@foreach (Treat treat in Model)
{
  <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
}
<hr />
<p>@Html.ActionLink("Add a New Treat to the Menu", "Create")</p>
<p>@Html.ActionLink("Flavors Menu", "Index", "Flavors")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
